.project p {
  width: 60%;
  margin: auto;
}

.projectContainer {
  display: block;
  text-align: center;
}
.projectTile {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: 10px;
}

.projectTile img {
  display: inline-block;
  margin: auto;
  padding: 5px 25px;
  width: 200px;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.projectTile span {
  display: block;
  text-align: center;
  margin-top: -5px;
  font-size: 14pt;
}

#credits {
  display: block;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .project p {
    width: 90%;
    margin: auto;
  }
}
