<script src="js/jquery.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/style.js"></script>
<div class="footer container">
  <a id='githubFooter' href="https://github.com/keitharm/"><img src='img/icons/github.svg'></a>
  <a id='twitterFooter' href="https://twitter.com/solewolf1993"><img src='img/icons/twitter.svg'></a>
  <a id='linkedinFooter' href="https://linkedin.com/in/keitharm"><img src='img/icons/linkedin.svg'></a>
</div>
