<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="main container">
    <div class="row">
      <div class="nine columns">
        <h4>Hello World! I'm <b>Keith Armstrong</b>.</h4>
        <p>I am a Full Stack developer best known for developing <a href="https://randomuser.me">Random User Generator</a> and <a href="https://beta.randomapi.com">RandomAPI</a>.<br><br>
          I primarily love working on the backend getting down and dirty with databases and server logic but that doesn't mean I can't still appreciate good UX and design.</p>
        <p>Anyway, welcome to my website! I'll be updating my about me page more in the future, but for now you should go check out my projects page!<br><br>
        - Keith</p>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
