<!DOCTYPE html>
<html lang="en">
<% include ../snippets/header %>
<body>
  <% include ../snippets/navbar %>
  <div class="main container">
    <div class="row">
      <div class="twelve columns">
        <h4>Hello World!</h4>
        <p>&lt;Stuff goes here&gt;</p>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
