<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../snippets/header %>
</head>
<body>
  <% include ../snippets/navbar %>
  <div class="main container">
    <div class="row">
      <div class="ten columns">
        <h4>Hello World! I'm <b>Keith Armstrong</b>.<br><img id="profile" src="img/profile.jpg"></h4>
        <p>I am a student at the University of North Texas currently pursuing a Bachelor's Degree in Information Technology. Some of my works that I am best known for are <a href="https://randomuser.me">Random User Generator</a>, <a href="https://randomapi.com">RandomAPI</a>, and <a href="project/deadbird">Deadbird</a>.<br><br>My main interests lie in web developement as well as game programming. My current project that I am working on is a 2D HTML5 Game Engine called Husky Engine. You can check out a work in progress demo <a href="projects/huskyengine">here</a>.<br><br>
        Primarily, I love working on the backend getting down and dirty with databases and server logic, but that doesn't mean I can't still appreciate good UX and design.</p>
        <p>Anyway, welcome to my website! I'll be updating my about me page more in the future, but for now you should go check out my projects page!<br><br>
        - Keith</p>
      </div>
    </div>
  </div>
  <% include ../snippets/footer %>
</body>
</html>
